:root {
    --background: #18122B;
    --background2: #393053;
    --texto: #e5ddff;
}

body {
    background-color: var(--background);
    border: 0;
    margin: 0;
    color: var(--texto);
}

article {
    display: flex;
    align-items: center;
}

button {
    background-color: transparent;
    text-decoration: none;
    border: 0;
    font-size: medium;
    color: var(--texto);
}

header button {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--background2);
    box-shadow: 1px 1px var(--background);
}

button:hover {
    background-color: var(--background);
}

.image {
    height: 300px;
}

.image img {
    height: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--background);
}

.header {
    display: flex;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    padding-right: 20px;
}

.header {
    background-color: var(--background2);
    align-items: center;
    padding: 15px;
}

.menu{
    margin-left: 50px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin-left: 20px;
    list-style: none;
}

.estrutura {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background2);
    color: var(--texto);
}

.descricao {
    padding: 20px;
}

.footer {
    margin: 10px;
    border-radius: 20px;
    background-color: var(--background2);
    display: flex;
    justify-content: center;
}